In [1]:
print('5.1 Print')

5.1 Print

In [2]:
print ('Ini Prodi Matematika')

Ini Prodi Matematika

In [3]:
print ("I don't understand what are you saying")

I don't understand what are you saying

In [4]:
print ('i don't understan what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_1360/1592251594.py, line 1)

In [5]:
print ('he is such a "GENIUS"')

he is such a "GENIUS"

In [6]:
print ("he is such a "GENIUS"")

SyntaxError: invalid syntax (Temp/ipykernel_1360/835909250.py, line 1)

In [7]:
Jumlah_mahasiswa = 42
Uang_di_dompet_mahasiswa = 10000
print (Jumlah_mahasiswa)
print (Uang_di_dompet_mahasiswa)
print (Jumlah_mahasiswa*Uang_di_dompet_mahasiswa)

42
10000
420000

In [8]:
nama_depan = 'Sudiksa'
nama_tengah = ' '
nama_belakang = 'Temaja'
print (nama_depan+nama_tengah+nama_belakang)

Sudiksa Temaja

In [9]:
print('5.2 Input')

5.2 Input

In [10]:
nama = input ("siapakah nama anda? ")
kegiatan = input ('apakah kegiatan anda sekarang, ' + nama + "?")
print ("semangat " + kegiatan + "nya yaa, " + nama +"! :)")

siapakah nama anda? Sudiksa
apakah kegiatan anda sekarang, Sudiksa?belajar Algoritma dan struktur data
semangat belajar Algoritma dan struktur datanya yaa, Sudiksa! :)

In [11]:
print('5.3 Tipe Data pada Python')

5.3 Tipe Data pada Python

In [12]:
uang_di_dompet_Desu = input ("berapa uang Desu di dompet? ")
uang_di_atm_Desu = input ("berapa uang Desu di atm? ")
print ("total uang Desu Rp." + uang_di_dompet_Desu + uang_di_atm_Desu)

berapa uang Desu di dompet? 29000
berapa uang Desu di atm? 100000
total uang Desu Rp.29000100000

In [13]:
uang_di_dompet_desu = input ("berapa uang desu di dompet? ")
uang_di_atm_desu = input ("berapa uang desu di atm? ")
total_uang = int(uang_di_dompet_desu) + int(uang_di_atm_desu)
print ("total uang desu Rp." + str(total_uang))

berapa uang desu di dompet? 17000
berapa uang desu di atm? 400000
total uang desu Rp.417000

In [14]:
type(total_uang)

int

In [15]:
type(uang_di_dompet_desu)

str

In [16]:
type(uang_di_atm_desu)

str

In [17]:
angka_pertama = input("masukan angka pertama: ")
angka_kedua = input("masukan angka kedua: ")
jumlah = float(angka_pertama) + float(angka_kedua)
print("jumlah kedua angka tersebut " + str(jumlah))

masukan angka pertama: 189
masukan angka kedua: 11
jumlah kedua angka tersebut 200.0

In [18]:
print('5.4 Formatted String')

5.4 Formatted String

In [19]:
nama_013 = input("Nama anda adalah ")
pekerjaan_013 = input("Pekerjaan anda adalah ")
institusi_013 = input("Institusi anda adalah ")
print("Nama saya adalah " + nama_013 +". Saya bekerja sebagai "+ pekerjaan_013 +" di "+ institusi_013 + ".")

Nama anda adalah Sudiksa
Pekerjaan anda adalah mahasiswa
Institusi anda adalah Universitas Udayana
Nama saya adalah Sudiksa. Saya bekerja sebagai mahasiswa di Universitas Udayana.

In [20]:
print(f'Nama saya adalah {nama_013}. Saya bekerja sebagai {pekerjaan_013} di {institusi_013}. ')

Nama saya adalah Sudiksa. Saya bekerja sebagai mahasiswa di Universitas Udayana.

In [21]:
nama = 'Sudiksa Temaja'
pekerjaan = 'Guru'
institusi = 'SMA Maju'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

Sudiksa Temaja adalah seorang Guru di SMA Maju.

In [22]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Sudiksa Temaja adalah seorang Guru di SMA Maju.

In [23]:
nama = 'I Made Gede Sudiksa Temaja'
nim = '2108541013'
prodi = 'Matematika'
matkul = 'Algoritma dan Struktur Data'
print(f'saya {nama} dengan NIM {nim} dari prodi {prodi} sedang belajar {matkul}')

saya I Made Gede Sudiksa Temaja dengan NIM 2108541013 dari prodi Matematika sedang belajar Algoritma dan Struktur Data

In [24]:
print('5.5 Strings Index')

5.5 Strings Index

In [25]:
kelas = 'ini kelas Matematika'

In [26]:
print(kelas [0:3])

ini

In [27]:
print(kelas[0:-3])

ini kelas Matemat

In [28]:
print(kelas[5:-2])

elas Matemati

In [29]:
print(kelas[2:-1:4])

ilMmk

In [30]:
print(kelas[:-6])

ini kelas Mate

In [31]:
nama = 'Sudiksa Temaja'

In [32]:
print(nama[3:-1])

iksa Temaj

In [33]:
print(nama[7:-2])

 Tema

In [34]:
print('5.6 Strings Methods')

5.6 Strings Methods

In [35]:
judul = 'smasta our pride'
print(len(judul))

16

In [36]:
judul.upper()

'SMASTA OUR PRIDE'

In [37]:
judul.lower()

'smasta our pride'

In [38]:
judul.find('our')

7

In [39]:
judul.find('Smasta')

-1

In [40]:
judul.replace('smasta','sma1')

'sma1 our pride'

In [41]:
print('smasta' in judul)

True

In [42]:
print('Our' in judul)

False

In [43]:
nim = '2108541013'

In [44]:
print(len(nim))

10

In [45]:
nim.replace('2108541013','013')

'013'

In [46]:
print('5.7 Operasi Matematika di Python')

5.7 Operasi Matematika di Python

In [47]:
print(4+6)

10

In [48]:
print(44-66)

-22

In [49]:
print((-2)*3)

-6

In [50]:
print(23/6)

3.8333333333333335

In [51]:
print(47//9)

5

In [52]:
print(65%23)

19

In [53]:
print(2**5)

32

In [54]:
x=3
x+=12
print(x)

15

In [55]:
x-=2
print(x)

13

In [56]:
x*=3
print(x)

39

In [57]:
x/=2
print(x)

19.5

In [58]:
print('5.8 Operator Perbandingan di Python')

5.8 Operator Perbandingan di Python

In [59]:
x = 13>2
print(x)

True

In [60]:
x = 27<13
print(x)

False

In [61]:
x = 13>=2
print(x)

True

In [62]:
x = 2<=31
print(x)

True

In [63]:
x = 3==3
print(x)

True

In [64]:
x = 13!=4
print(x)

True

In [65]:
x = 2>31
print(x)

False

In [66]:
b = 32!=32
print(b)

False

In [67]:
print('5.9 Operator Logika di Python')

5.9 Operator Logika di Python

In [68]:
manggis = 10
mangga =15
print(manggis > 8 and mangga < 17)

True

In [69]:
print(manggis < 8 or mangga > 20)

False

In [70]:
tinggi_kakak = 182
tinggi_adik = 173
print(tinggi_kakak > 172 or tinggi_adik > 163)

True

In [71]:
tinggi_kakak = 182
tinggi_adik = 173
print(tinggi_kakak < 172 or tinggi_adik < 163)

False

In [72]:
print('5.10 Operator if di Python')

5.10 Operator if di Python

In [73]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Anda harus mengulang lagi tahun depan")

Nilai anda adalah 71
Anda mendapatkan nilai B
Tingkatkan prestasimu!

In [74]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, pertahankan nilaimu")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Sedikit lagi nilaimu A")
elif nilai >=60:
    print("Anda mendapatkan nilai C")
    Print("Lain kali harus lebih giat belajar")
elif nilai <60:
    print("Anda mendapatkan nilai D")
    print("Sayang sekali anda harus mengulang lagi minggu depan")

Nilai anda adalah 46
Anda mendapatkan nilai D
Sayang sekali anda harus mengulang lagi minggu depan

In [76]:
tinggi = float(input('berapakah tinggi kamu? '))
cm_atau_inci = input('tingginya dalam cm atau inci? ')

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print('tinggi kamu adalah ' + str(tinggi) + ' inci')
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f'tinggi kamu adalah {tinggi} cm')

berapakah tinggi kamu? 184
tingginya dalam cm atau inci? cm
tinggi kamu adalah 72.440984 inci

In [77]:
print('5.11 While loop')

5.11 While loop

In [78]:
a = 1
while a < 7:
    print('angka ' + str(a) + ' masih dibawah 7')
    a +=2

angka 1 masih dibawah 7
angka 3 masih dibawah 7
angka 5 masih dibawah 7

In [79]:
a = 1
while a < 6:
    print(a * '*')
    a +=1

*
**
***
****
*****

In [80]:
a = 5
while a > 0:
    print(a * ':) ')
    a -=1

:) :) :) :) :)
:) :) :) :)
:) :) :)
:) :)
:)